table {
	border: 1px solid;
}

tr td {
	border: 1px solid;
	width: 100px;
	height: 50px;
	text-align: center;

}
th {
	border: 1px solid;
	width: 100px;
	color: red;

}
.notes {
	background-color: #eeeeee;
	margin-left: 50px;
	/* width: 50%; */
	/* flex-basis: 50% */

}

h1 {
	text-align: center;
	color: yellowgreen
}

h2 {
	text-align: center;
	color: green
}
.table {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.calendar {
/* flex-basis: 40%; */
display:
}

p {
	padding: 20px;
	
}

@media (max-width: 786px) {
	.notes{
		width: 100%;
		padding: 0;
		margin: 20px 0 0 0;
	}
	.calendar {
		display: contents
	}
}
