table {
	border: 1px solid;
}

tr td {
	border: 1px solid;
	width: 100px;
	height: 50px;
	text-align: center;

}
th {
	border: 1px solid;
	width: 100px;
	color: red;

}
.notes {
	background-color: #eeeeee;
	flex-basis: 50%;
	margin-right: 10px;

}

h1 {
	text-align: center;
	color: yellowgreen
}

h2 {
	text-align: center;
	color: green
}
.table {
	display: flex;
}
td:nth-child(1){
	color: red;
}

span {
	font-weight: bold;
	 color: blue;
	font-size: 40px;
	border: 5px dashed red;
	text-align: center;
	display: block;
}

.calendar {
flex-basis: 50%;
margin-bottom: 20px;
margin-left: 10px;
}
.may {
	/* background: url('img/may.jpg') 100%, 100% no-repeat; */
	background: url('img/may1.jpg') no-repeat;
	background-size: cover;
	/* width: 100%; */
	/* height: 100%; */
}

p {
	padding: 20px;
	
}

table>th:nth-child(3) {
	color: rgb(17, 223, 117);
}



@media (max-width: 786px) {
	.table{
		flex-wrap: wrap;
		flex-direction: column;
	}
	.notes {

		width: 100%;
		padding: 0;
		margin: 20px 0 0 0;
	}
	.calendar {
		display: contents
	}
}
