.june2020 {
	display: none;
	
}

.july2020 {
	display: none;
}

.password {
	display: none;
	color: yellow
}

.password a {
	color: red;
	text-decoration: none;
}

.password th {
	color: green;
	font-size: 25px;
}